@import '../../assets/styles/vars';

.searchForm {
    display: flex;
    align-items: center;
    background-color: $white-bg-color;
    border-radius: 4px;
    color: $black-text-color;
}

.searchFormInput {
    width: 100%;
    padding: 0 30px;
    font: inherit;
    font-size: 18px;
    border: none;
    outline: none;
}

.searchFormInput::placeholder {
    font: inherit;
    font-size: 18px;
}