$blue-accent-color: #3f51b5;

$black-text-color: #2c2c2c;
$white-text-color: #fff;

$white-bg-color: #fff;

$blue-btn-color: #1a9bdb;
$blue-btn-hover-color: #1683b9;

$blue-undo-btn-color: #a0c9dd;
$blue-undo-btn-hover-color: #5d9bba;