.btn {
    width: 140px;
    height: 50px;
    padding: .375rem .75rem;
    background-color: #1a9bdb;
    border: 1px solid transparent;
    border-color: #1a9bdb;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    transition: background-color 150ms;
    cursor: pointer;

    &:hover {
        background-color: #1683b9;
        border-color: #157bad;
    }
}