@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
@import './assets/styles/reset';
@import './assets/styles/mixins';

.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;

    @include tablet {
        max-width: 768px;
        padding: 0 39px;
    }
    
    @include desktop {
        min-width: 1280px;
        max-width: 1440px;
        padding: 0 70px;
    }
}
